html, body {
    /*width: 100%;*/
    /*height: 100%;*/

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/

    /*background-color: red;*/
}

#map {
    position: fixed !important;
    left: 0;
    top: 0;

    /*width: 100px;*/
    /*height: 100px;*/

    /*background-color: ghostwhite;*/
    width: 100%;
    height: 100%;

    z-index: 1;
}

#column {
    /*width: 100%;*/
    max-width: 640px;
    min-width: 500px;

    min-height: 100%;
    /*height: 1000px;*/
    /*background-color: red;*/


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /*z-index: 2;*/
    pointer-events: none;

    /*overflow: scroll;*/
    /*overflow: visible;*/
}

#header {
    /*position: relative;*/
    /*top: 0;*/
    width: 100%;
    /*height: 64px !important;*/

    /*height: 200px;*/
    /*background-color: greenyellow;*/

    /*width: 460px;*/
    display: inline-flex;
    flex-shrink: 0;
    /*flex-direction: row;*/

    justify-content: center;
    /*display: table;*/
    /*text-align: center;*/
    /*margin: 0 auto;*/

    /*text-align: center;*/

    z-index: 3;
}

#header div {
    /*float: left;*/
}

#main {
    position: relative;
    /*margin-top: 200px;*/
    max-width: 500px;
    /*max-height: 200px;*/
    /*height: 1000px;*/

    /*background-color: red;*/
    overflow: scroll;
}

#footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*width: 640px;*/
    width: 100%;
    /*text-align: center;*/

    display: inline-flex;
    justify-content: center;
    /*flex-direction: row;*/

    flex-shrink: 0;

    /*z-index: 4;*/
}

#header div {
    /*padding-right: 20px;*/
}

.block {
    pointer-events: auto;

    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);

    z-index: 2;
}

.block {
    /*position: relative;*/

    /*top: 0;*/
    /*bottom: 0;*/
    /*height: 100%;*/

    /*margin-top: 64px;*/

    /*overflow: auto;*/

    /*z-index: 2;*/
    /*width: 100%;*/
    /*max-width: 460px;*/

    /*overflow: scroll;*/
    /*resize: both;*/
    /*max-width: 300px;*/
    /*max-height: 460px;*/

    /*margin: 20px;*/



    /*-webkit-user-drag: element;*/
}

#about {
    /*display: none;*/
}

#constructor {
    /*display: none;*/
}

#locals {
    /*display: none;*/
}

#login {
    width: 200px;
}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: lightgrey;
}

.text {
    padding: 20px;
}

.title {
    padding-top: 30px;
    font-weight: 400;
    text-align: center;
}

.form {
    padding-top: 10px;
}

.back {
    width: 100%;
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
    display: block;
}

.duck {
    position: absolute;
    height: 130px;
    top: 50px;
    left: 50px;
    /*top: -100px;*/
    /*padding-bottom: 100px;*/

    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);*/
    /*border-radius: 150px;*/

    /*filter: brightness(110%);*/
}

.description {

}

.buttons {
    /*padding: 20px;*/
    /*width: 100%;*/

    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    /*justify-content: space-around;*/
}

.buttons a.close {
    float: right;
}

.buttons a.delete {
    color: white;
}

.buttons a.delete:hover {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    cursor: pointer;
}
