html, body {
    /*width: 100%;*/
    /*height: 100%;*/

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*background-color: red;*/
}

#map {
    position: fixed !important;
    left: 0;
    top: 0;

    /*width: 100px;*/
    /*height: 100px;*/

    /*background-color: ghostwhite;*/
    width: 100%;
    height: 100%;
}

.menu {
    position: relative;
    background-color: white;
    /*top: 0;*/
    /*bottom: 0;*/
    /*height: 100%;*/

    overflow: auto;

    z-index: 2;
    max-width: 460px;

    /*overflow: scroll;*/
    /*resize: both;*/
    /*max-width: 300px;*/
    /*max-height: 460px;*/

    padding: 20px;

    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);

    -webkit-user-drag: element;
}

#constructor {
    display: none;

}

[contenteditable]:focus {
    outline: 0 solid transparent;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: lightgrey;
}

.form {
    padding-top: 10px;
}

.back {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

.duck {
    position: absolute;
    height: 150px;
    top: 50px;
    left: 250px;
    /*top: -100px;*/
    /*padding-bottom: 100px;*/

    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);*/
    border-radius: 150px;

    /*filter: brightness(110%);*/
}

.description {

}

.buttons {
    padding-top: 20px;
    width: 100%;

    /*display: flex;*/
    /*flex-direction: row-reverse;*/
    /*justify-content: space-around;*/
}

.buttons a.close {
    float: right;
}

.buttons a.delete {
    color: white;
}

.buttons a.delete:hover {
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    cursor: pointer;
}
