@media only screen and (max-width : 640px) {

    body {
        position: absolute !important;
        width: 100%;
        height: auto !important;
    }
    #menu {
        width: calc(100% - 20) !important;
        max-width: none !important;
        /*margin: 0 !important;*/
        /*padding: 0 !important;*/
    }
    .text {
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
    }
    #back {
        width: 100% !important;
        /*height: 240px !important;*/
    }
    .buttons {
        /*width: 100% !important;*/
        /*padding: 20px !important;*/
    }
}

html, body {
    /*width: 100%;*/
    /*height: 100%;*/

    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}

body {
    position: fixed;
    width: 100%;
    height: 100%;
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*background-color: red;*/
}

#map {
    position: fixed !important;
    left: 0;
    top: 0;

    /*width: 100px;*/
    /*height: 100px;*/

    /*background-color: ghostwhite;*/
    width: 100%;
    height: 100%;
}

#menu {
    position: relative;
    background-color: white;
    /*top: 0;*/
    /*bottom: 0;*/
    /*height: 100%;*/

    overflow: auto;

    z-index: 2;
    max-width: 460px;

    padding: 20px;

    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.1);
}

#back {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}

.buttons {
    padding-top: 20px;
    width: 100%;
}

.buttons a {
    text-decoration: none;
    color: black;
}

.buttons a:hover {
    color: red;
    cursor: pointer;
}
